/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global Styles
    ## Header
    ## Article
    ### Hero List
    ### Active Hero
    ### Active Enemy
    ### Upgrades
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');

:root {
	--vg-dark: #2d1c18;
	--vg-mid-dark: #562f08;
	--vg-mid: #af824b;
	--vg-mid-light: #dbb37f;
	--vg-light: #f0d59b;
}

body, h3, p {
	margin: 0;
}

body {
	background-color: var(--vg-dark);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

h3 {
	font-family: 'Bangers', cursive;
	font-size: 2rem;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

*::selection {
	background: transparent;
}

*::-moz-selection {
	background: transparent;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

header {
	background-color: lightBlue;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
}

header > * {
	width: 30%;
}

header section:nth-child(2) {
	text-align: center;
}

header button {
	height: 2rem;
	background-color: orange;
}

#recruitHero {
	display: flex;
	align-items: center;
}

#recruitHero > * {
	margin-right: 1rem;
}

/*--------------------------------------------------------------
## Article
--------------------------------------------------------------*/

article {
	display: flex;
	justify-content: space-between;
}

article > * {
	width: 30%;
	text-align: center;
	margin: 1rem;
	background-color: var(--vg-light);
	border: .5rem solid var(--vg-mid);
	border-radius: 1rem;
	color: var(--vg-mid-dark);
}

/*--------------------------------------------------------------
### Hero List
--------------------------------------------------------------*/

#heroList {
	overflow-y: scroll;
	height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#heroList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#heroList {
  -ms-overflow-style: none;
}

.heroBlock {
	margin: 1rem;
	background-color: var(--vg-mid-light);
	border-radius: 1rem;
}

/*--------------------------------------------------------------
### Active Hero
--------------------------------------------------------------*/

#activeHero,
#activeEnemy {
	max-height: 30vh;
	overflow: hidden;
	position: sticky;
	top: 69px;
}

#activeHeroXPStatus { 
  width: 50%; 
  background-color: #ddd;
  display: none;
  margin: 0 auto;
  border-radius: 1rem;
} 
  
#activeHeroExperienceBar { 
  width: 1%; 
  height: 20px; 
  background: rgb(11,36,0);
  background: linear-gradient(0deg, rgba(11,36,0,1) 0%, rgba(15,121,9,1) 35%, rgba(39,255,0,1) 100%); 
  text-align: center; 
  line-height: 32px; 
  color: black;
  border-radius: 1rem;
} 

/*--------------------------------------------------------------
### Active Enemy
--------------------------------------------------------------*/ 

#activeEnemyHealthStatus { 
  width: 50%; 
  background-color: #ddd; 
  display: none;
  margin: 0 auto;
  border-radius: 1rem;
} 
  
#activeEnemyHealthBar { 
  width: 1%; 
  height: 20px;
  background: rgb(36,0,0);
  background: linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,0,0,1) 100%); 
  text-align: center; 
  line-height: 32px; 
  color: black;
  border-radius: 1rem;
}

/*--------------------------------------------------------------
### Upgrades
--------------------------------------------------------------*/

#upgrades {
	align-self: flex-end;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

footer {
	background-color: var(--vg-light);
	border: .5rem solid var(--vg-mid);
	border-radius: 1rem;
	color: var(--vg-mid-dark);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 60vw;
	height: 30vh;
	margin: 1rem;
}

#playerUpgrades,
#heroUpgrades {
	display: none;
	width: 100%;
	flex-wrap: wrap;
	align-content: space-between; 
}

#heroUpgrades > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 21%;
	padding: 1rem;
	background-color: var(--vg-mid-light);
	border-radius: 1rem;
}

#activeHero-Head {
	border: .5rem solid black;
}

#activeHero-Shoulders {
	border: .5rem solid black;
}

#activeHero-Chest {
	border: .5rem solid black;
}

#activeHero-Legs {
	border: .5rem solid black;
}

#activeHero-Belt {
	border: .5rem solid black;
}

#activeHero-Feet {
	border: .5rem solid black;
}

#activeHero-Hands {
	border: .5rem solid black;
}

#activeHero-Back {
	border: .5rem solid black;
}

#activeHero-Weapon {
	border: .5rem solid black;
}