/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global Styles
    # Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/

body {
	margin: 0;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

header {
	background-color: lightBlue;
	padding: 1rem;
}